# Build results
/bin
/obj
# Visual Studio 2015 cache/options directory
.vs/
/DesignPatternConsoleApp/obj
/DesignPatternConsoleApp/bin/Debug/net8.0
/AbstractFactoryDP/bin/Debug/net8.0
/AbstractFactoryDP/obj
/BuildderDP/obj
